    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-weight: 400;
    }
    
     :root {
        /* --colors-- */
        --c_white: white;
        --c_salmon_light: #FDDCC4;
        --c_salmon: #F1CDB3;
        --c_grey: #545454;
        --c_grey_dark: #292929;
        --c_grey_light: #C4C4C4;
        --c_grey_light_ligt: #FAFAFA;
        /* --fonts-- */
        --f_georgia: Georgia, serif;
        --f_arial: Arial, sans-serif;
        z-index: 2;
    }
    
    html {
        scroll-behavior: smooth;
    }
    
    a {
        text-decoration: none;
        color: var(--c_grey);
    }
    
    .overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(41, 41, 41, 0.6);
        transition: 0.3s;
        z-index: 3;
    }
    
    .hamburger_menu_container {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 130px;
        position: absolute;
        z-index: 4;
        top: 0;
        right: -320px;
        width: 320px;
        height: 100vh;
        background-color: #292929;
        transition: 0.3s;
    }
    
    .hamburger_menu_logo {
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        padding: 30px 10px;
        gap: 10px;
    }
    
    .hamburger_menu_logo:hover,
    .hamburger:hover {
        cursor: pointer;
    }
    
    .hamburger_menu_logo h1 {
        font-family: var(--f_georgia);
        font-size: 32px;
        font-weight: 400;
        line-height: 35.2px;
        color: var(--c_salmon);
        letter-spacing: 0.06em;
    }
    
    .hamburger_menu_logo p {
        font-family: var(--f_arial);
        font-size: 13px;
        font-weight: 400;
        line-height: 15px;
        color: var(--c_white);
        letter-spacing: 0.1em;
        padding-left: 3px;
    }
    
    .h_ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 37px;
    }
    
    .h_ul li,
    .h_ul a {
        font-family: var(--f_arial);
        text-decoration: none;
        font-size: 32px;
        font-weight: 400;
        line-height: 51px;
        color: #CDCDCD;
        padding-bottom: 5px;
        letter-spacing: 0;
    }
    
    .h_ul li:hover {
        cursor: pointer;
        color: #FAFAFA;
    }
    
    #active_nav_link_menu {
        font-weight: 400;
        color: var(--c_grey_light_ligt);
        padding-bottom: 0;
        letter-spacing: 0;
        border-bottom: 2px solid var(--c_salmon_light);
    }
    /* ===============   modal  ============================== */
    
    .modal_container {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 7;
        background-color: rgba(41, 41, 41, 0.6);
        ;
        display: none;
        justify-content: center;
        align-items: center;
        transition: 0.3s;
    }
    
    .modal_opened {
        display: flex;
    }
    
    .modal_card {
        width: 900px;
        height: 500px;
        border-radius: 9px;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #FAFAFA;
        transition: 0.3s;
    }
    
    .portrait {
        width: 500px;
        height: 500px;
        background-image: url("../../assets/images/pets-portraits/jennifer.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 9px;
    }
    
    .modal_presentation {
        width: 400px;
        height: 100%;
        padding: 25px 20px 25px 30px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    
    .name {
        font-family: var(--f_georgia);
        font-size: 35px;
        line-height: 45px;
        letter-spacing: 0.06em;
        font-weight: 400;
        color: black;
        margin: 27px 0 10px 0;
    }
    
    .under_name {
        font-family: var(--f_georgia);
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0.06em;
        font-weight: 400;
        color: black;
    }
    
    .modal_description {
        font-family: var(--f_georgia);
        font-size: 15px;
        line-height: 17px;
        letter-spacing: 0.06em;
        font-weight: 400;
        color: black;
        text-align: left;
        margin: 40px 0;
    }
    
    .modal_card:hover {
        box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    }
    
    .close_modal {
        width: 52px;
        height: 52px;
        border-radius: 50%;
        border: 1px solid var(--c_salmon);
        background-color: transparent;
        background-image: url("../../assets/icons/modal_close_button.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        top: -52px;
        right: -42px;
        transition: 0.3s;
    }
    
    .close_modal:hover {
        border: none;
        background-color: var(--c_salmon_light);
    }
    
    .close_modal_hovered {
        border: none;
        background-color: var(--c_salmon_light);
    }
    
    .signs {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .signs li {
        font-family: var(--f_georgia);
        font-size: 15px;
        line-height: 16.5px;
        letter-spacing: 0.06em;
        font-weight: 400;
        color: black;
        padding-bottom: 12px;
    }
    
    .signs li::before {
        content: "\2022";
        color: var(--c_salmon);
        display: inline-block;
        margin-right: 10px;
    }
    
    .li_bold {
        font-family: var(--f_georgia);
        font-size: 15px;
        line-height: 16.5px;
        letter-spacing: 0.06em;
        font-weight: 700;
        color: black;
    }
    /* =========================================== */
    
    .container {
        max-width: 1280px;
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        color: var(--c_white);
        position: relative;
        z-index: 2;
        overflow-x: hidden;
    }
    
    .bg_container {
        width: 100%;
        height: 908px;
        position: absolute;
        z-index: 0;
        background-image: url("../../assets/images/start-screen-gradient-background.png");
        background-repeat: no-repeat;
        background-size: 1280px 908px;
        background-position: center;
    }
    
    .active_nav_link {
        font-weight: 500;
        color: var(--c_grey_light_ligt);
        letter-spacing: 0.07em;
        border-bottom: 2px solid var(--c_salmon_light);
    }
    
    header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 59px 40px 0 40px;
    }
    
    .hamburger {
        display: none;
        position: relative;
        z-index: 6;
    }
    
    .line {
        display: block;
        width: 100%;
        height: 2.5px;
        background-color: var(--c_salmon);
        transition: 0.3s;
    }
    
    header .logo {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }
    
    .navigation_list {
        width: 445px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 36px;
        padding-top: 7px;
        padding-bottom: 10px;
    }
    
    li {
        list-style-type: none;
    }
    
    header a {
        color: var(--c_grey_light);
        text-decoration: none;
        font-family: var(--f_arial);
        font-size: 13px;
        line-height: 23px;
        transition: 0.2s;
        letter-spacing: 0.07em;
        padding-bottom: 5px;
    }
    
    header a:hover {
        font-weight: 500;
        color: var(--c_grey_light_ligt);
        cursor: pointer;
    }
    
    .logo h1 {
        font-family: var(--f_georgia);
        font-size: 32px;
        font-weight: 400;
        line-height: 35.2px;
        color: var(--c_salmon_light);
        letter-spacing: 0.06em;
        padding-top: 2px;
    }
    
    .logo p {
        font-family: var(--f_arial);
        font-size: 13px;
        font-weight: 400;
        line-height: 15px;
        color: var(--c_white);
        letter-spacing: 0.1em;
    }
    
    main {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .not_only {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 40px;
    }
    
    .not_only img {
        display: block;
        padding-top: 61px;
    }
    
    .not_only_presentation {
        width: 460px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 42px;
        margin-bottom: 20px;
        padding-top: 2px;
    }
    
    .not_only_presentation h2 {
        font-family: var(--f_georgia);
        font-size: 44px;
        line-height: 57px;
        font-weight: 400;
        color: var(--c_white);
    }
    
    .not_only_presentation p {
        font-family: var(--f_arial);
        font-size: 15px;
        line-height: 24px;
        font-weight: 400;
        color: var(--c_grey_light);
    }
    
    .salmon_button {
        width: 207px;
        height: 52px;
        border: none;
        border-radius: 100px;
        text-align: center;
        color: var(--c_grey_dark);
        font-family: var(--f_georgia);
        font-size: 17px;
        line-height: 22px;
        font-weight: 400;
        letter-spacing: 0.06em;
        background-color: var(--c_salmon);
        transition: 0.2s;
    }
    
    .salmon_button:hover {
        background-color: var(--c_salmon_light);
        cursor: pointer;
    }
    
    .div-to-button {
        padding-top: 15px;
    }
    
    .white_button {
        width: 187px;
        height: 52px;
        border: 2px solid var(--c_salmon);
        border-radius: 100px;
        text-align: center;
        color: var(--c_grey);
        font-family: var(--f_georgia);
        font-size: 17px;
        line-height: 22px;
        font-weight: 400;
        letter-spacing: 0.06em;
        background-color: var(--c_white);
        transition: 0.2s;
    }
    
    .about {
        width: 100%;
        height: 588px;
        display: flex;
        justify-content: center;
        padding-top: 80px;
        gap: 110px;
        background-color: var(--c_white);
    }
    
    .about_presentation {
        width: 430px;
        height: 380px;
        padding-top: 27px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 10px;
    }
    
    .section_header {
        font-family: var(--f_georgia);
        font-size: 35px;
        line-height: 45px;
        color: var(--c_grey);
        letter-spacing: 0.06em;
    }
    
    .about_presentation p {
        font-family: var(--f_arial);
        font-size: 14px;
        line-height: 24px;
        color: var(--c_grey);
        letter-spacing: 0.03em;
        font-weight: 400;
        padding-top: 24px;
    }
    
    .our_friends {
        width: 100%;
        height: 877px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 80px 0;
        background-color: #F6F6F6;
    }
    
    .pet_gallery_container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin: 50px 0 50px 0;
    }
    
    .container_for_cards {
        width: 300%;
        height: 435px;
        position: absolute;
        top: 0;
        left: -100%;
        display: flex;
        justify-content: space-evenly;
    }
    
    .left_block,
    .center_block,
    .right_block {
        width: 33.3%;
        height: 455px;
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }
    
    .pet_gallery {
        width: 77%;
        height: 455px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
        padding: 0 22px;
    }
    
    .temporary_card {
        width: 270px;
        height: 435px;
        background-color: rgb(23, 57, 151);
    }
    
    .slide_forward {
        animation: slideRight 1s ease;
    }
    
    .slide_back {
        animation: slideLeft 1s ease;
    }
    
    @keyframes slideRight {
        from {
            transform: translate(0px);
        }
        to {
            transform: translate(-33.3%);
        }
    }
    
    @keyframes slideLeft {
        from {
            transform: translate(0px);
        }
        to {
            transform: translate(33.3%);
        }
    }
    
    .card {
        width: 270px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--c_grey_light_ligt);
        border-radius: 9px;
        padding-bottom: 20px;
        overflow: hidden;
    }
    
    .card img {
        display: block;
        width: auto;
        height: 270px;
        border-radius: 9px 9px 0px 0px;
    }
    
    .card:hover {
        background-color: var(--c_white);
        box-shadow: 0px 1px 10px 6px rgba(13, 13, 13, 0.04);
        cursor: pointer;
    }
    
    .card:hover .white_button {
        border: none;
        background-color: var(--c_salmon_light);
        cursor: pointer;
    }
    
    .card p {
        font-family: var(--f_georgia);
        font-size: 20px;
        line-height: 23px;
        font-weight: 400;
        letter-spacing: 0.06em;
        color: var(--c_grey);
        margin: 30px 10px;
    }
    
    .round_button {
        width: 52px;
        height: 52px;
        border-radius: 50%;
        border: 2px solid var(--c_salmon);
        background-color: var(--c_grey_light_ligt);
    }
    
    .round_button:hover {
        cursor: pointer;
        background-color: var(--c_salmon_light);
    }
    
    .back {
        background-image: url("../../assets/icons/arrow_back_main.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30%;
    }
    
    .forward {
        background-image: url("../../assets/icons/arrow_fwd_main.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30%;
    }
    
    .get_to_know {
        width: 261px;
    }
    
    .help {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 80px 0;
        margin-bottom: 20px;
    }
    
    .help_options {
        width: 85%;
        margin-top: 59px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 57px 85px;
    }
    
    .help_option_card {
        height: 113px;
        padding: 17px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    
    .help_option_card p {
        font-family: var(--f_georgia);
        font-size: 20px;
        line-height: 23px;
        font-weight: 400;
        color: var(--c_grey);
        letter-spacing: 0.06em;
    }
    
    .donation {
        width: 100%;
        padding: 80px 40px 99px 40px;
        background-color: #F6F6F6;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    
    .donation img {
        display: block;
    }
    
    .donation_presentation {
        width: 380px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
    }
    
    .bank {
        width: 349px;
        height: 43px;
        border-radius: 9px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 13px;
        padding-bottom: 7px;
    }
    
    .bank>.sp {
        font-family: var(--f_georgia);
        font-size: 20px;
        line-height: 115%;
        font-weight: 400;
        color: var(--c_grey);
        letter-spacing: 0.06em;
        position: relative;
    }
    
    .bank>.sp::before {
        content: url("../../assets/icons/credit-card.svg");
        position: relative;
        right: 10px;
        top: 5px;
    }
    
    .donation_presentation p:first-of-type {
        font-family: var(--f_georgia);
        font-size: 15px;
        line-height: 16.5px;
        color: var(--c_grey);
        letter-spacing: 0.06em;
        font-weight: 400;
    }
    
    .donation_presentation p:last-of-type {
        font-family: var(--f_arial);
        font-style: italic;
        font-size: 12px;
        line-height: 18px;
        font-weight: 400;
        color: var(--c_grey_light);
    }
    
    footer {
        width: 100%;
        height: 350px;
        background: url("../../assets/images/noise_transparent@2x.png"), radial-gradient(circle at 0, #513D2F, #1A1A1C);
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 0 40px;
    }
    
    .puppy_foto img {
        display: block;
    }
    
    .footer_presentation {
        width: 280px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 57px 0;
        margin-right: 50px;
    }
    
    .footer_presentation_wrapper {
        display: flex;
        gap: 110px;
    }
    
    .footer_presentation h3 {
        font-family: var(--f_georgia);
        font-size: 35px;
        line-height: 45px;
        font-weight: 400;
        letter-spacing: 0.06em;
        color: var(--c_white);
    }
    
    footer a {
        display: block;
        text-decoration: none;
        font-family: var(--f_georgia);
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0.06em;
        font-weight: 400;
        color: var(--c_salmon);
        position: relative;
    }
    
    .contacts,
    .map_link {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
    }
    
    .contacts *,
    .map_link * {
        display: block;
    }
    
    .contacts_pr {
        gap: 40px;
    }
    
    .address_pr {
        width: 302px;
        gap: 33px;
    }
    /* ======================================================== */
    /* =====================   tablet   ====================== */
    /* ======================================================== */
    
    @media (max-width:1279px) {
        /* ===============   modal  ============================== */
        .modal_card {
            width: 630px;
            height: 350px;
            justify-content: center;
            right: 0;
        }
        .portrait {
            width: 350px;
            height: 350px;
        }
        .modal_presentation {
            width: 260px;
            height: 100%;
            margin: 10px 9px auto auto;
            padding: 0;
        }
        .name {
            margin: 3px 0 5px 0;
        }
        .modal_description {
            font-size: 13px;
            line-height: 14px;
            margin: 22px 0;
        }
        .signs li {
            padding-bottom: 6px;
        }
        .signs li::before {
            margin-right: 7px;
        }
        /* =========================================================== */
        .container {
            max-width: 1279px;
            width: 100%
        }
        .bg_container {
            width: 100%;
            height: 1165px;
            background-size: 1280px 1165px;
        }
        .not_only img {
            width: 569px;
            margin-right: 0px;
            margin-left: auto;
            padding-top: 59px;
        }
        header {
            padding: 30px 30px 0 30px;
        }
        .not_only {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 60px 30px;
            gap: 20px;
        }
        .not_only_presentation {
            width: 460px;
            gap: 41px;
        }
        .not_only_presentation a {
            align-self: center;
        }
        .about {
            flex-direction: column-reverse;
            height: auto;
            padding: 7px 30px 95px 30px;
            align-items: center;
            gap: 94px;
        }
        .about_presentation {
            width: 430px;
            margin-left: 0;
        }
        @keyframes slideRight {
            from {
                transform: translate(0px);
            }
            to {
                transform: translate(-33.3%);
            }
        }
        @keyframes slideLeft {
            from {
                transform: translate(0px);
            }
            to {
                transform: translate(33.3%);
            }
        }
        .left_block,
        .center_block,
        .right_block {
            justify-content: space-evenly;
            gap: 40px;
        }
        .pet_gallery_container {
            justify-content: space-evenly;
            padding: 0 30px;
        }
        .round_button {
            margin-top: 10px;
        }
        .help {
            width: 100%;
            padding: 80px 30px;
        }
        .help_options {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 113px;
            padding: 0 10px;
            column-gap: 0;
            row-gap: 55px;
        }
        .donation {
            flex-direction: column-reverse;
            gap: 60px;
        }
        .donation_presentation {
            gap: 21px;
        }
        footer {
            flex-direction: column;
            align-items: center;
            height: auto;
        }
        .footer_presentation {
            padding: 30px 0;
            margin: auto;
        }
        .footer_presentation_wrapper {
            width: 100%;
            gap: 10px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
        .puppy_foto {
            margin-top: 35px;
        }
    }
    /* ===================================================== */
    /* ====================  mobile  ======================= */
    /* ===================================================== */
    
    @media (max-width:767px) {
        /* ===============   modal  ============================== */
        .modal_card {
            width: 240px;
            height: auto;
            justify-content: center;
            right: 0;
        }
        .portrait {
            display: none;
        }
        .close_modal {
            right: -30px;
        }
        .modal_presentation {
            width: 220px;
            height: 100%;
            margin: 10px;
            padding: 0;
            justify-content: center;
            align-items: center;
        }
        .name {
            margin: 3px 0 10px 0;
        }
        .modal_description {
            font-size: 13px;
            line-height: 14px;
            margin: 22px 0;
            text-align: justify;
        }
        .signs {
            margin-top: 5px;
            align-self: flex-start;
            justify-content: space-between;
        }
        .signs li {
            padding-bottom: 6px;
        }
        .signs li::before {
            margin-right: 10px;
        }
        /* =========================================================== */
        header {
            justify-content: space-between;
            padding: 30px 0 0 10px;
            gap: 20px;
        }
        .navigation_list {
            display: none;
        }
        .hamburger {
            width: 30px;
            height: 30px;
            display: flex;
            flex-direction: column;
            margin-right: 53px;
            justify-content: space-around;
            transition: 0.3s;
        }
        .hamburger_vertical_wrap {
            transform: rotate(90deg);
        }
        .overlay_show {
            display: block;
        }
        .hamb_menu_open {
            right: 0;
        }
        .not_only {
            padding: 0;
            flex-direction: column;
            justify-content: center;
        }
        .not_only_presentation {
            width: 300px;
            align-items: center;
            justify-content: center;
            padding: 60px 10px;
            gap: 30px;
        }
        .not_only_presentation h2 {
            padding: 0 10px;
            font-size: 25px;
            line-height: 32.5px;
            text-align: center;
            letter-spacing: 0.06em;
        }
        .not_only_presentation p {
            padding-top: 10px;
            text-align: center;
            line-height: 175%;
            font-size: 14px;
            letter-spacing: 0.009em;
        }
        .not_only .div-to-button {
            margin-top: 10px;
        }
        .not_only img {
            width: 260px;
            padding-top: 7px;
            align-self: flex-end;
            margin-right: 10px;
        }
        .section_header {
            font-size: 25px;
            line-height: 32px;
            text-align: center;
        }
        .about {
            padding: 17px 25px 40px 25px;
            gap: 40px;
        }
        .about_presentation {
            width: 270px;
            height: auto;
            align-items: center;
        }
        .about_presentation p {
            text-align: justify;
        }
        .cat_and_dog_foto img {
            display: block;
            width: 260px;
        }
        .our_friends {
            padding: 45px 10px 38px 10px;
            height: auto;
        }
        @keyframes slideRight {
            from {
                transform: translate(0px);
            }
            to {
                transform: translate(-33.3%);
            }
        }
        @keyframes slideLeft {
            from {
                transform: translate(0px);
            }
            to {
                transform: translate(33.3%);
            }
        }
        .pet_gallery_container {
            display: grid;
            padding: 0 10px;
            align-items: center;
            margin: 40px 0 40px 0;
            gap: 20px
        }
        .pet_gallery {
            width: 275px;
            grid-column-start: 1;
            grid-column-end: 3;
            margin: auto;
        }
        .back {
            grid-row-start: 2;
            grid-row-end: 3;
        }
        .round_button {
            margin: auto;
        }
        .help {
            padding: 47px 15px 15px 15px;
        }
        .help img {
            width: 50px;
            height: 50px;
        }
        .help_option_card p {
            font-size: 15px;
            line-height: 16px;
            text-align: center;
        }
        .help_options {
            grid-template-columns: repeat(2, 1fr);
            row-gap: 10px;
            column-gap: 20px;
            padding: 0;
            margin-top: 30px;
        }
        .help_option_card {
            gap: 22px;
            padding: 0;
            height: 105px;
        }
        .donation {
            padding: 44px 20px 43px 20px;
            gap: 42px;
        }
        .donation_presentation {
            width: 280px;
            gap: 20px;
            align-items: center;
        }
        .donation_presentation p:first-of-type {
            line-height: 24px;
            letter-spacing: 0;
        }
        .donation_presentation p:last-of-type {
            text-align: justify;
        }
        .bank {
            width: 281px;
            margin: auto;
        }
        .bank>.sp {
            padding-bottom: 5px;
            font-size: 15px;
            line-height: 16.5px;
        }
        .bank>.sp::before {
            right: 14px;
            top: 6px;
        }
        .donation img {
            width: 260px;
            margin: auto;
            align-self: center;
        }
        .donation_presentation p:last-of-type {
            letter-spacing: 0.0em;
        }
        footer {
            padding: 0 10px;
            align-items: center;
            justify-content: center;
        }
        .footer_presentation {
            width: auto;
            justify-content: center;
            align-items: center;
            padding: 27px 0 0 0;
            margin: auto;
        }
        .footer_presentation_wrapper {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 12px;
        }
        .footer_presentation h3 {
            width: 278px;
            font-size: 25px;
            line-height: 32.5px;
            text-align: center;
            margin: auto;
        }
        .contacts {
            text-align: center;
            justify-content: center;
        }
        div.map_link {
            gap: 20px;
            justify-content: center;
        }
        .address_pr {
            text-align: justify;
            gap: 40px;
        }
        a.map_link {
            width: 258px;
            text-align: left;
        }
        .puppy_foto {
            margin-top: 40px;
        }
        .puppy_foto img {
            width: 260px;
        }
    }